<launch>
    <arg name="use_sim_time" default="true" />
    <arg name="paused" default="false" />
    <include file="$(find robot_launch)/launch/launch_simulation.launch">
        <arg name="use_sim_time" value="$(arg use_sim_time)" />
        <arg name="gui" default="true" />
        <arg name="paused" value="$(arg paused)" />
    </include>
    
</launch>