<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="model" default="$(find robot_description)/robot/cart_pole.urdf.xacro"/>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="debug" default="false"/>
  <arg name="accl_flag" default="false"/>

  <!--if acceleration flag is true-->
  <group if="$(arg accl_flag)">
    <arg name="world_name" 
          value="$(find inverted_pendulum_pkg)/worlds/robomaster_rale_accelerated.world"/>
    <include file="$(find inverted_pendulum_pkg)/launch/debug.launch">\
      <arg name="argument" value="$(arg world_name)"/>
    </include>
    <arg name="gui" value="false"/>
    <arg name="headless" default="true"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(arg world_name)" />
      <arg name="debug" value="$(arg debug)" />
      <arg name="paused" value="$(arg paused)"/>
      <arg name="use_sim_time" value="$(arg use_sim_time)"/>
      <arg name="gui" value="$(arg gui)" />
      <arg name="headless" value="$(arg headless)"/>
    </include>
  </group>

  <!--if acceleration flag is flase-->
  <group unless="$(arg accl_flag)">
    <arg name="world_name" 
         value="$(find inverted_pendulum_pkg)/worlds/robomaster_rale.world"/>
    <arg name="gui" value="true" />
    <arg name="headless" value="false"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(arg world_name)" />
      <arg name="debug" value="$(arg debug)" />
      <arg name="paused" value="$(arg paused)"/>
      <arg name="use_sim_time" value="$(arg use_sim_time)"/>
      <arg name="gui" value="$(arg gui)" />
      <arg name="headless" value="$(arg headless)"/>
    </include>
  </group>

  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description" command="$(find xacro)/xacro '$(arg model)'" />
  
  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-x 0
              -y 0
              -z 1.225
              -urdf
              -model cart_pole
              -param robot_description"
  />

</launch>
